# Profile - AWS Profile to use in ~/.aws/credentials file
# See https://registry.terraform.io/providers/hashicorp/aws/latest/docs
profile = "ggjam"

# Region - AWS Region to build infrastructure in
# See https://aws.amazon.com/about-aws/global-infrastructure/regions_az/
region = "us-west-2"

# Base Tags - Tags that will be applied to every resource that supports tags
base_tags = {
  "project" = "ggjam"
  "owner"   = "me"
}

# Site name - this will be used as the name of your website S3 bucket and 
# to configure Ghost. It should match your actual DNS name for the site!
site_name = "myblog.awesome.test"

# Content S3 Bucket
content_s3_bucket = "ggjam-content.awesome.test" # This bucket will contain your images, themes etc
